
.navbar{
    display: flex;
    justify-content: space-around;
}
ul li{
    list-style: none;
   display: inline-block;
   
}
ul li a{
    text-decoration: none;
    padding: 48px;
    color: #8987A1;
   
}
.ancor{
    color: black;
}
.banner{
    display: flex;
   align-items: flex-end;
    margin: 120px 150px 120px 150px;
 
}
.title{
    font-family: "Noto Serif", serif;
    color: #E95A08;
    font-size: 65px;
    font-weight: bold;
}
span{
    color: black;
}
.banner-desc{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    
}
.desc{
    font-family: "Inter", sans-serif;
    font-size: 22px;
}
.plants-section{
    margin-left: 150px;
    margin-right: 150px;
}

 .card-desc{
    text-align: center;
   
 }
  
.card-title{
    font-size: 22px;
    font-weight: 700;
    color: #111111;
}

.price{
    color: #111111;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.card-menu{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    text-align: center;
    
}
.card-image{
    padding: 20px;
    padding-top:30px ;
  
}
/* flower lover */
.flower-lover{
    display: flex;
    margin: 120px 150px 120px 150px;
    gap: 60px;
    
}
.flower-container{
    position: relative;
    
}
.flower-store{
   object-fit: cover;

}
.sub-image{
    position: absolute;
    top: -7.5rem;
    right: -6rem;
    width: 280px;
    height: 280px;
    object-fit: contain;
  
  transition: all .3s linear;
  transition-duration: 5s;
   
    
    
}
.sub-image:hover{
transform: rotate(360deg);

}

.lover{
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}
.lover-desc{
    font-size: 22px;
    font-family: "Inter", sans-serif;

}

/* latest title  */
.latest-container{
    margin: 120px 150px 120px 150px;
}
.latest-title{
    text-align: center;
    margin-bottom: 120px;
}
.latest{
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    color: #E95A08;
}
.parents{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}
.flowers-1{
   display: flex;
   flex-direction: column;
  height: 423px;
 gap: 10px;
 
   

}
.child{
    height: 420px;
    width: 367px;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
   
    justify-content: center;
    align-items: center;
   display: flex;
   flex-direction: column;
    
    
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.child h4{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}
.child a{
    font-weight: 700; 
    font-family: "Inter", sans-serif;
    color: white;

}

.flowers-2{
height: 390px;
width: 752px;
border-radius: 8px;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;

}
.flowers-2 h4{
    font-size: 40px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
   

}
.flowers-2 a{
    font-size: 28px;
    font-weight: 700;
    font-family: "Noto Serif", serif;


}
.cover-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 533px;
    width: 100%;
    margin: 0;
    
}
.header-item{
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}
#search{
    width: 644px;
    padding: 19px;
    border-right: none;
    flex: 1;
    outline: none;
    border: none;
}
/* footer design start  */
.footer-head{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 120px 150px 120px 150px;
    gap: 30px;
    
}
.ancor-1 li {
    list-style: none;
    padding: 32px;
}
.ancor-1 li a{
    text-decoration: none;
    color: #6B7280;
 

}
.logo-design{
   padding: 10px;
   
   
}



.btn{
  color: white;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  background-color: #E95A08;
  border: none;
  padding:26px 50px;
  width: 270px;

}
.btn-1{
    color: white;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    background-color: #E95A08;
    border: none;
    padding:19px 53px;
    left: -10px;
    position: relative;
    
    
  
  }



  /* midea query style start  */
  
  @media screen and (max-width: 576px) {

    .banner {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
        margin-left:5px;
       
    }
    .banner-head .banne-img{
        align-items: center;
        justify-content: center;
     
        
    }
    .flower-lover{
       display: inline-block;
       margin-left: 5px;
       margin-right: 10px;
       margin-top: 20px;
       gap: 10px;
       margin-bottom: 20px;
      
        
    }
    .latest-container{
        margin: 41px 18px 41px 19px;
        
    }
    .flower-store{
        margin: 41px 18px 41px 19px;
        width: calc(100% - 37px);
    }

    .plants-section{
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        padding-left: 5px;
        
    }
    .card-menu{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        padding-left: 4px;
        padding-right: 4px;
       
        align-items: center;
        justify-content: center;
    }
    .card-image{
      padding: 0;
        padding-top:30px ;
        margin-left: 5px;
        margin-right: 5px;
        
    }
    .latest-container{
        margin: 10px;
    }

    .parents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
      
    }
    .flowers-2{
        height: 390px;
        width: 367px;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .submit-btn{
        align-items: center;
        justify-content: center;
      text-align: center;
    }

    #search{
        width: 30%;
        padding: 19px;
        border-right: none;
        flex: 1;
        outline: none;
        border: none;
        align-items: center;
        justify-content: center;
        
    }
    .btn-1{
        color: white;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        background-color: #E95A08;
        border: none;
        padding:20px 23px;
        left: -10px;
        position: relative;
        
        
      
      }
      .footer-head{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
     
    }
    .ancor-1 li {
        list-style: none;
        padding: 32px;
       
    }
.navbar-1 {

visibility: hidden;
}
.sub-image{ 
    visibility: hidden;
}
.banne-img{
display: grid;
grid-template-columns: repeat(1, 1fr);
width: 100%;

}

  
  }

  @media screen and (max-width:776px) {
    .banner {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
        margin-left:5px;
       
    }
    .banner-head .banne-img{
        align-items: center;
        justify-content: center;
       
     
        
    }
    .banner-head{
        margin-left: 50px;
    }
    .flower-lover{
       display: inline-block;
       margin-left: 50px;
       margin-right: 10px;
       margin-top: 20px;
       gap: 10px;
       margin-bottom: 20px;
      
        
    }
    .latest-container{
        margin: 41px 18px 41px 19px;
        
    }
    .flower-store{
        margin: 41px 18px 41px 19px;
        width: calc(100% - 37px);
    }

    .plants-section{
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        padding-left: 5px;
        
    }
    .card-menu{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        padding-left: 4px;
        padding-right: 4px;
       
        align-items: center;
        justify-content: center;
    }
    .card-image{
      padding: 0;
        padding-top:30px ;
        margin-left: 5px;
        margin-right: 5px;
        
    }
    .latest-container{
        margin: 10px;
    }

    .parents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;

      
    }
    
    .flowers-2{
        height: 390px;
        width: 367px;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .submit-btn{
        align-items: center;
        justify-content: center;
      text-align: center;
    }

    #search{
        width: 30%;
        padding: 19px;
        border-right: none;
        flex: 1;
        outline: none;
        border: none;
        align-items: center;
        justify-content: center;
        
    }
    .btn-1{
        color: white;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        background-color: #E95A08;
        border: none;
        padding:20px 23px;
        left: -10px;
        position: relative;
        
        
      
      }
      .footer-head{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 50px;
     
    }
    .ancor-1 li {
        list-style: none;
        padding: 32px;
       
    }
.navbar-1 {

visibility: hidden;
}
.sub-image{ 
    visibility: hidden;
}
.banne-img{
display: grid;
grid-template-columns: repeat(1, 1fr);
width: 100%;

}

  }